<form [formGroup]="form" class="input-form">
    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Client ID</mat-label>
        <input matInput formControlName="client_id" required>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Medicine Name</mat-label>
        <input matInput formControlName="medicine_name" required>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Medicine ID</mat-label>
        <input matInput formControlName="medicine_id" required>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
            <input matStartDate formControlName="start" placeholder="Start date" required>
            <input matEndDate formControlName="end" placeholder="End date" required>
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    
    
    <div class="button-row">
        <button [disabled]="form.invalid" [mat-dialog-close]="form" mat-raised-button color="primary">Give Prescription</button>
    </div> 
     <div class="button-row text-right">
        <button mat-raised-button color="primary" (click)="onNoClick()" >Cancel</button>
    </div>    
</form>