table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 20%;
}

.mat-column-request_number {
  flex: none;
  width: 150px;
}

.mat-column-client_id {
  flex: none;
  width: 700px;
}

.mat-column-medicine_id {
  flex: none;
  width: 800px;
}

.mat-column-medicine_name {
  flex: none;
  width: 800px;
}

.mat-column-request_date {
  flex: none;
  width: 800px;
}
