table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 20%;
}

.mat-column-request_number {
  flex: none;
    width: 100px;
}

.mat-column-client_id {
  flex: none;
    width: 500px;
}