/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
html,
body {
  height: 100vh;
  width: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding-top: 80px;
  margin: 0 auto;
  position: absolute;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.divider {
  padding-top: 20px;
  padding-bottom: 20px;
}
